* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Verdana, sans-serif;
    font-size: 1.1rem;
    --main-color: lightskyblue;
    --add-color: aliceblue;
    --font-color: midnightblue;
    color: var(--font-color);
    width: 100%;
    height: auto;
}

#header {
    background-color: var(--add-color);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 10;
    box-shadow: 0 1px 10px var(--font-color);
}

#header-img {
    width: 4em;
    margin: 0.5em 1em 1em 2em;
}

#header-name {
    font-size: 2.2em;
    padding-bottom: 0.3em;
}

#logo {
    display: flex;
    align-items: center;
}

#nav-bar {
    margin: auto 1em auto auto;
    font-size: 1.5em;
    font-weight: 700;
}

ul {
    display: flex;
}

li {
    list-style: none;
}

.nav-link {
    margin: 1em;
}

@media (max-width: 1008px) {
    body {
        font-size: 1rem;
    }

}

@media (max-width: 700px) {
    body {
        font-size: 0.7rem;
    }    
    #header {
        font-size: 0.5rem;
    }
    .slides {
        font-size: 0.7em;
    }
}

a {
    text-decoration: none;
    color: var(--font-color);
}

section {
    margin: auto;
    width: 50%;
}

#main {
    width: 100%;
}

#why {
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 12em;
    background-color: var(--main-color);
}

.slogan {
    text-transform: uppercase;
    font-size: calc(4vw + 2em);
    margin: 0 auto 0.8em auto;
}

.the {
    text-transform: lowercase;
    font-style: italic;
    font-weight: 400;
}

.slogan-lower-case {
    text-transform: lowercase;
}

form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#email {
    max-width: 20em;
    width: 70vw;
    padding: 0.5rem;
    border: 1px solid var(--font-color);
    border-radius: 3px;
    margin-bottom: 2.5rem;
    font-size: 1.1rem;
}

#email:focus {
    box-shadow: 0 0 3px 2px var(--font-color);
    background-color: lemonchiffon;
    outline: none;
}

#submit {
    max-width: 10em;
    width: 50vw;
    height: 2.5em;
    font-size: 1em;
    text-transform: uppercase;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 3px 1px var(--font-color);
    outline: none;
}

#submit:hover {
    cursor: pointer;
    box-shadow: 0 0 7px 3px var(--font-color);
}

#submit:active {
    transform: scale(0.98);
    box-shadow: 0 0 3px 1px var(--font-color);
}

.slider {
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: center;
}

.slider-bar {
    width: 1.1em;
    height: 1.1em;
    margin: 20em 1em 5em;
    border-radius: 50%;
    z-index: 1;
    outline: 7px solid lightcyan;
    outline-offset: -7px;
    box-shadow: 0 0 0 0 var(--main-color), 0 0 0 0 var(--main-color);
    cursor: pointer;
    appearance: none;
    backface-visibility: hidden;
    background-color: lightcyan;
}

.slider-bar:checked {
    animation: check 0.4s linear forwards;
    background-color: var(--font-color);
}

.slider-bar:checked:nth-of-type(1) ~ .slides {
    left: 0%;
}

.slider-bar:checked:nth-of-type(2) ~ .slides {
    left: -100%;
}

.slider-bar:checked:nth-of-type(3) ~ .slides {
    left: -200%;
}

.slides {
    position: absolute;
    top: 5em;
    left: 0;
    width: 300%;
    height: 50%;
    transition: left 0.4s;
    display: flex;
    flex-flow: row nowrap;
    padding: 1.8em;
}

.slide-content {
    height: 100%;
    font-family: comic sans MS;
    font-size: 4em;
    text-align: center;
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

@keyframes check {
    50% {
        outline-color: var(--font-color);
        box-shadow: 0 0 0 12px var(--font-color), 0 0 0 36px rgba(45, 111, 233, 0.2);
    }

    100% {
        outline-color: var(--font-color);
        box-shadow: 0 0 0 0 var(--font-color), 0 0 0 0 rgba(45, 111, 233, 0.2);
    }
}







#about {
    width: 100%;
    background-color: var(--add-color);
    -webkit-background-color: var(--add-color);
    background-image: url(roll-texture-1.jpg);
    background-blend-mode: lighten;
    height: auto;
    padding: 6em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 -1px 10px var(--font-color);
}

.features {
    width: 100%;
    max-width: 700px;
    font-size: 1.2em;
    display: flex;
    margin-bottom: 3em;
}

.icon {
    max-width: 5em;
    width: 10vw;
    max-height: 5em;
    height: 10vw;  
}

.features-content {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 3em;
    align-items: flex-start;
}



.feature-name {
    margin-bottom: 0.2em;
}

.features p {
    font-size: 1.1em;
    font-style: italic;
}

#how-its-made {
    width: 100%;
    height: auto;
    text-align: center;
    background-color: var(--main-color);
    padding: 7em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 -1px 10px var(--font-color);
}

#how-its-made h2 {
    font-size: calc(30px + 3vw);
    margin: 0 0 1em 0;
    color: var(--main-color);
    text-shadow: 0px 5px 25px var(--font-color);
}

iframe {
    box-shadow: 0 0 15px 3px var(--font-color);
    margin: 0 1em;
    width: 32em;
    height: 20em;
}

#how-much {
    width: 100%;
    height: auto;
    background-color: var(--add-color);
    display: flex;
    flex-flow: row wrap;
    padding: 4em 7em;
    justify-content: space-around;
    align-items: flex-start;
    box-shadow: 0 -1px 10px var(--font-color);
}

.order {
    margin: 20px;
}

.order-shape {
    border: 0px solid cornflowerblue;
    border-top: 15px solid var(--font-color);
    border-radius: 0 0 5px 5px;
    box-shadow: 0 3px 10px 1px var(--font-color);
    background-image: url(roll-texture-1.jpg);
    background-color: var(--add-color);
    background-blend-mode: lighten;
    width: 25em;
    height: 36em;
    position: relative;
    text-align: center;
    
}

.series h3 {
    font-size: 1.1em;
    font-weight: 600;
    color: var(--add-color);
    width: 100%;
}

.series h2 {
    line-height: 150%;
    font-size: 2.5em;
    margin: 10px auto;
}

.series p {
    text-align: end;
    margin-right: 15px;
    font-family: comic sans Ms;
}

.series {
    background-color: var(--main-color);
    padding: 3px 0;
}

.desc {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 20em;
    height: 50%;
    margin: 2em auto 0 auto;
    
}

.desc li {
    margin-bottom: 20px;
    text-align: left;
    line-height: 1.2em;
    font-size: 1.2em;
}

.price {
    font-size: 2.2em;
}

.btn {
    width: 7em;
    height: 2.5em;
    position: absolute;
    bottom: 1em;
    right: 1em;
    background-color: deeppink;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1em;
    color: white;
    transition: 0.5s;
    outline: none;
}

.btn:hover {
    background-color: cadetblue;
    transition: 0.5s;
}

.btn:active {
    transform: scale(0.95);

}

footer {
    width: 100%;
    height: 5em;
    color: var(--add-color);
    background-color: darkslategrey;
    box-shadow: 0 -1px 3px darkslategrey;
}

footer a {
    color: var(--add-color);
}

#fin {
    width: 300px;
    margin: 0 auto;
    text-align: left;
}

.fin-nav-item {
    margin: 5px 30px 15px 0;
}



